/* 3D image */
.cool3D {
  width: auto;
  height: 969px;
  display: block;
  margin-left: auto;
  margin-top: 65px;
}

@media (max-width: 600px) {
  .cool3D {
    width: auto;
    height: 730px;
    display: block;
    margin-left: auto;
    margin-top: 65px;
  }
}

.fenwayPicture {
  border-radius: 360px;
  min-width: 287px;
  width: 30%;
  max-width: 450px;
  padding: 5px;
  float: left;
  border: 2px solid white;
  -webkit-animation: colorchange 40s infinite;
}

/* Animations for color on boarder of picture */
@keyframes colorchange {
  0% {
    border: 1px solid red;
  }
  25% {
    border: 1px solid yellow;
  }
  50% {
    border: 1px solid blue;
  }
  75% {
    border: 1px solid green;
  }
  100% {
    border: 1px solid red;
  }
}
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    border: 1px solid red;
  }
  25% {
    border: 1px solid yellow;
  }
  50% {
    border: 1px solid blue;
  }
  75% {
    border: 1px solid green;
  }
  100% {
    border: 1px solid red;
  }
}

.aboutFont {
  font-size: 11px;
  line-height: 2em;
  text-transform: uppercase;
  color: #333;
}

.centerAbout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.aboutSection {
  display: -webkit-box;
  padding-bottom: 50px;
}

.header {
  color: #fff;
  text-align: center;
  background: navy;
  padding: 10px;
  font-family: cursive;
  cursor: default;
  height: 35px;
}

/* Projects section with media tags */
.projectSection {
  display: table;
  /* display: block; */
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 50px;
}

.cards {
  max-width: 345px;
  margin: 20px;
  display: table-cell;
  padding: 10px;
  min-width: 326px;
}
@media (max-width: 480px) {
  .cards,
  .projectSection {
    display: contents !important;
  }
}

@media (max-width: 1300px) {
  .cards,
  .projectSection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media (max-width: 1320px) {
  .projectSection,
  .cards {
    display: block;
  }
}

@media (min-width: 1850px) {
  .projectSection,
  .cards {
    width: 70%;
  }
}

@media (min-width: 2200px) {
  .projectSection,
  .cards {
    width: 60%;
  }
}
/* End of projects */

.certificationSection {
  /* display: table; */
  display: block;
  /* table-layout: fixed; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 50px;
  position: static;
}

.cert {
  /* max-width: 345px; */
  margin: 20px;
  /* display: table-cell; */
  padding: 10px;
  /* min-width: 326px; */
  max-width: 100% !important;
  /* position: static;  */
}

.resume {
  max-width: 100% !important;
  margin: 20px;
  /* display: table-cell; */
  padding: 10px;
  /* min-width: 326px; */
  /* position: static;  */
}

.cert > div {
  position: static !important;
}

.resume > div {
  position: static !important;
}

.cert > div > canvas {
  display: flex !important;
  width: 40vw !important;
  position: inherit;
  height: unset !important;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid navy;
  border-radius: 25px;
}
.resume > div > canvas {
  display: flex !important;
  width: 35vw !important;
  position: inherit;
  height: unset !important;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid navy;
  border-radius: 25px;
}
